body{
background:#f5f5f5;
font-family:Arial;
}

.container{
width:70%;
margin:auto;
background:white;
padding:20px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#333;
color:white;
padding:15px;
}

.logout-btn{
background:red;
color:white;
border:none;
padding:8px 15px;
cursor:pointer;
}

.create-box{
display:flex;
gap:10px;
margin-top:20px;
}

.create-box input{
padding:8px;
width:200px;
}

.create-box button{
background:#333;
color:white;
border:none;
padding:8px 15px;
}

.post-card{
background:#f9f9f9;
padding:20px;
margin-top:20px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.post-buttons{
margin-top:10px;
}

.delete{
background:#ddd;
border:none;
padding:5px 10px;
cursor:pointer;
}